<h1> El registro fue almacenado con exito</h1>

  <br>

  <table>
    <tr>
      <td>Codigo</td>
      <td>Descuento</td>
      <td>Total</td>
    </tr>

    <% @sales.each do |s| %>
    <tr>
      <td><%= s.cod %></td>
      <td><%= s.discount %></td>
      <td><%= s.total %></td>
    </tr>
    <% end %>

  </table>

  <br><br><br>


<%= link_to "Volver", sales_new_path %>
